<a href="https://colab.research.google.com/github/singparvi/hello-world/blob/main/DS_1_1_Objective_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd


url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'
df = pd.read_csv(url)

print (df.head())
mycols = ["top-left-square", "top-middle-square", "top-right-square", "middle-left-square", 
          "middle-middle-square", "middle-right-square", "botton-left-square", "botton-middle-square", "botton-right-square", "class"]
df = pd.read_csv(url, names = mycols)
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

  top-left-square top-middle-square  ... botton-right-square     class
0               x                 x  ...                   o  positive
1               x                 x  ...                   o  positive
2               x                 x  ...                   x  positive
3               x                 x  ...                   b  positive
4               x                 x  ...                   b  positive

[5 rows x 10 columns]